@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");


*{
  margin:0;

  font-family: "Poppins", sans-serif;
}

header{
  display:flex;
  align-items: center;
  
}


.typing-text {
  overflow: hidden;
  margin-top: 20%;
}



.typed-text {
  display: inline-block;
  white-space: nowrap; 
  overflow: hidden;
  animation: typing 3s steps(30) forwards;
  font-size: xx-large;

}



.webgl{
  margin: auto;
}

.about{
  margin-left: 10%;
}

.about .title{
  font-size: X-large;
}

.about .text{
  margin-top: 10px;
}



@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

.profile{
  width: 100px;
  height:100px;
  border-radius: 50%;
  margin-top: 1%;
}

.git{
  width: 50px;
  height:50px;
  border-radius: 50%;
  margin-top: 1%;
}

.git:hover{
  opacity: 0.7;
}

.link{
  width: 50px;
  height:50px;
  border-radius: 50%;
  margin-top: 1%;
  
}

.link:hover{
  opacity: 0.7;
}

.button:hover{
  opacity: 0.7;
}

.button{
  background-color: coral;
  border-radius: 10%;
  border: none;
}




.container{
  display: flex;
  align-items: center;
  gap: 5%;
  
}

.skills {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-top: 5%;
}

.skills .title {
  font-size: x-large;
}

.skills .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  padding: 2%;
  margin: 2%;
  margin-top: 10%;
  

}

.skills .contain1 {
  display: flex;
  justify-content: center;
}

.skill-image {
  width: 250px;
  border-radius: 12px;
  height: 200px;
  object-fit: cover;
 
}

.skill-card {
 

  /* Add border */
  border: 1px solid #bacdd8;

  /* Add space between the border and the content */
  padding: 8px;
  border-radius: 9px;
  margin-right: 3%;
  margin-bottom: 2%;
}

.tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;

  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: white;
}


.name {
  font-size: 24px;
  font-weight: 600;

  margin-top: 16px;
}

.card__details {
  
  padding: 8px 8px 8px 8px;
}

.skill-card:hover{
  opacity: 0.7;
}

.popup {
  display: none; /* Initially hide the popup */
  color: black;
}

.experience{
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-top: 10%;
}

.experience .title {
  font-size: x-large;
}

.experience .container{
  display: flex;
  flex-direction: column;
}


.experience .container .sub .sub2{
  display: flex;
  flex-direction: row;
  gap: 100px;
  max-width:fit-content;
  
}



.list-contain{
  margin-top: 5%;
  padding: 3%;
}

.experience .container .sub{
  margin-top: 5%;
  align-items: flex-start;
  max-width: 60%;
  
}


.projects{
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-top: 5%;
}

.projects .title {
  font-size: x-large;
}


.projects .container{
  display: flex;
  flex-direction: row;
}


.project-card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  margin: 16px;
  justify-content: center;
  padding: 6px;
  

}

.container .sub{
  display: flex;
  flex-direction: column;
}

.sub .name{
  margin-top: 3%;
}

.sub .card-content{
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}

#chess-img{
  margin-top: 3%;
}


#git-button{
  margin-top: 5%;
  max-width: 25%;
  background-color: white;
  border-radius: 10%;
  margin-left: 40%;
  height: 50px;
  margin-bottom: 5%;
}

#git-button:hover{
opacity: 0.7;
}

.holder{
  display: flex;
  flex-direction: row;
}

#chess-img{
  width: 400px;
  height: 400px;
}

footer{
  margin-top: 10%;
  margin-bottom: 10%;
}

footer .container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer .container .title{
  font-size: x-large;
}

@media (max-width: 768px) {
  .project-card {
      flex-direction: column;
      max-width: 100%;
  }

  .project-card img {
      max-width: 100%;
  }
}